#footer, .nav_bar, .header_page {
  display: flex;
  justify-content: center;
}

html {
  color: #0277BD;
  background-color: rgb(27, 27, 27);
}

.btn2submit {
  padding: 5px 0 5px 0;
  margin: 10px 10px 0 0;
  background-color: #4fc3f7;
  border: 0;
  color: white;
  font-size: 18px;
  width: 130px;
}

.btn2reset {
  padding: 5px 0 5px 0;
  margin: 10px 10px 0 0;
  background-color: #E0E0E0;
  border: 0;
  color: grey;
  font-size: 18px;
  width: 90px;
}

p.title {
  color: #0277BD;
}

.main-content {
  padding-left: 10%;
  padding-right: 10%;
}

/* --------------------- Header --------------------------*/
.header_page {
  margin: 0;
  padding: 5px;
  max-width: 100%;
  max-height: 100px;
  background-color: transparent;
}

.logo_main {
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}

.logo_img {
  height: 70px;
}

.web_name {
  margin-top: 10px;
}

.web_name p {
  margin: 0;
}

p.wn1 {
  color: #0277BD; /* do not change now */
  font-size: 24px;
}

p.wn2 {
  color: #0277BD; /* do not change now */
  font-size: 20px;
}

#profile_pos {
  position: fixed;
  top: 45px;
  right: 30px;
  padding: 2px;
  border-radius: 90px;
  background-color: #4fc3f7;
  float: right;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}

#profile_pos:hover {
  width: 250px;
}

.profile_manager {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #ab47bc;
  border-left-color: #4fc3f7;
  transition: 0.3s ease;
}

.profile_manager:hover {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #4fc3f7;
  border-left-color: #ab47bc;
}

.profile_trainer {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #99ff33;
  border-left-color: #4fc3f7;
  transition: 0.3s ease;
}

.profile_trainer:hover {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #4fc3f7;
  border-left-color: #99ff33;
}

.profile_pool {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #ffb300;
  border-left-color: #4fc3f7;
  transition: 0.3s ease;
}

.profile_pool:hover {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #4fc3f7;
  border-left-color: #ffb300;
}

.profile_web {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #4fc3f7;
  border-left-color: #4fc3f7;
  transition: 0.3s ease;
}

.profile_web:hover {
  border: solid 3px;
  border-top-color: #4fc3f7;
  border-right-color: #4fc3f7;
  border-bottom-color: #4fc3f7;
  border-left-color: #4fc3f7;
}

.profile_circle {
  border-radius: 90px;
  width: 50px;
  height: 50px;
  max-width: 60px;
  max-height: 60px;
  background-color: transparent;
  overflow: hidden;
  float: left;
}

.profile_circle img {
  height: 50px;
}

.profile_name {
  margin-top: 2px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 3px;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.logout {
  font-size: 14px;
  float: left;
}

.logout a {
  font-size: 14px;
  padding-left: 5px;
  color: white;
}

/* --------------------- nav bar--------------------------------*/
.nav_bar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  background-color: #4fc3f7;
  display: flex;
}
.nav_bar span {
  font-size: 20px;
  margin: 3px 10px 0px 10px;
  border: 0;
  border-bottom: 4px solid transparent;
  list-style-type: none;
  transition: 0.3s ease;
}
.nav_bar a {
  color: white;
}

.nav_bar li:hover {
  border: 0;
  border-bottom: 4px solid #81d4fa;
}

.nav_bar_select a {
  border: 0;
  border-bottom: 4px solid #b3e5fc;
}

/* --------------------- footer --------------------------------*/
#footer {
  height: 100px;
  width: 100%;
  background-color: #01579B;
  color: white;
}

.ftter {
  height: 100px;
  width: 100%;
  margin-top: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* ---------------------- Login --------------------------------*/
.login_btn {
  background-color: #4fc3f7;
  color: white;
  font-size: 20px;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  right: 15%;
  padding: 3px 10px 0px 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
.login_btn p {
  margin: 0;
  padding: 0;
}

.login_btn:hover {
  border-radius: 0 0 15px 15px;
  background-color: #29B6F6;
  font-size: 21px;
}
.login_btn:hover a {
  color: white;
}

.regis_btn {
  background-color: #4fc3f7;
  color: white;
  font-size: 20px;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  right: 2%;
  padding: 3px 10px 0px 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
.regis_btn p {
  margin: 0;
  padding: 0;
}
.regis_btn a {
  color: white;
}

.regis_btn:hover {
  border-radius: 0 0 15px 15px;
  background-color: #29B6F6;
}

/*
.logpopup{
    background-color: $primary-bg-color;
    padding: 5px;
    top: 50px;
    right: 10%;
    position: fixed;
    border-radius: 10px;
}

.logpopup::after {
    content: "";
    position: absolute;
    top: -20px;
    margin-left: -10%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent $primary-bg-color transparent;
  }
*/
#login-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
#login-form p {
  font-size: 26px;
  color: #0277BD;
}
#login-form div {
  padding: 10px;
  text-align: left;
  width: 250px;
}
#login-form div label {
  font-size: 22px;
}
#login-form div input {
  padding: 8px;
  width: 250px;
  height: 1.5rem;
  font-size: 16px;
  color: #0277BD;
  border-radius: 5px;
}
#login-form div input:focus {
  border-color: #4fc3f7;
}/*# sourceMappingURL=main_style.css.map */