/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url("bootstrap-icons-1.8.3/bootstrap-icons.css");

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4fc3f7; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01579B; 
  }

body{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    margin: 0;
}

#nonselect{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}
.canselect{
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;          /* Likely future */ 
}

a{
    text-decoration:none;
}


[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

[type="file"]:not(:disabled){
  cursor: pointer;
}