/* --------------------- Progess bar --------------------------*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.step {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #ACACA6;
  border-radius: 50%;
  transition: background 1s;
}

.step:hover {
  border: 2px solid #01579B;
}

.step.selected {
  border: 2px solid #2196F3;
  background: #2196F3;
}

.step.completed {
  border: 2px solid #b3e5fc;
  background: #b3e5fc;
}

.progress {
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #ACACA6;
  z-index: -1;
}

.percent {
  position: absolute;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #81d4fa;
  z-index: 1;
  transition: width 1s;
}

/* pre register page  */
.div1 {
  background-color: #ECEFF1;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.button1 {
  background-color: #CFD8DC;
  text-align: center;
  width: 250px;
  font-size: 23px;
  color: #212121;
  padding: 10px;
  margin: 20px;
  transition: 0.3s;
}

.button1:hover {
  background-color: #B0BEC5;
}

/* --------------------- register form ----------------------------*/
.re-content {
  display: flex;
  justify-content: center;
}

.re-content p {
  text-align: center;
}

.alert-label {
  margin-left: 10px;
  font-size: 16px;
  color: red;
}

.submit_box {
  margin: 10px 0 20px 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.submit_box input {
  font-size: 20px;
  border: 0;
  width: 150px;
}

.submit_btn {
  margin: 0 10px 0 10px;
  padding: 5px 20px 5px 20px;
  background-color: #2196F3;
  color: #fff;
}

.reset_btn {
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  color: #2196F3;
}

.dir_btn {
  margin: 0 10px 0 10px;
  padding: 5px 0 5px 0;
  background-color: #fff;
  color: #2196F3;
}

/* ---- float controll ----*/
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 40%;
}

.field {
  margin: auto;
}

.form__field {
  width: 300px;
  border: 0;
  border-bottom: 1px solid #0277BD;
  outline: 0;
  font-size: 24px;
  color: #0277BD;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 20px;
  cursor: text;
  top: 20px;
}

.form__field:-ms-input-placeholder ~ .form__label {
  font-size: 20px;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 20px;
  cursor: text;
  top: 20px;
}

.form__label {
  width: 300px;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #81d4fa;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 2px;
  -o-border-image: linear-gradient(to right, #0277BD, #81d4fa);
     border-image: linear-gradient(to right, #0277BD, #81d4fa);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #b3e5fc;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.textarea_det {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 0 15px;
  resize: none;
  font-size: 18px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #81d4fa;
}

.textarea_det:focus {
  border-width: 2px;
  -o-border-image: linear-gradient(to right, #81d4fa, #0277BD);
     border-image: linear-gradient(to right, #81d4fa, #0277BD);
  border-image-slice: 1;
}

.req_file {
  color: #0277BD;
  width: 310px;
  border: 1px solid #81d4fa;
  border-radius: 0.25rem;
}

.req_file::-webkit-file-upload-button {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.req_file::file-selector-button {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.req_file:focus {
  color: #81d4fa;
}

.content-request {
  margin: auto;
  /* background-color: rgb(240, 255, 240);*/
  display: flex;
  justify-content: center;
}

.select_input option {
  font-size: 16px;
}

/*
.hidden_cont{
  display: none;
}

.showup_cont{
  display: block;
}
*//*# sourceMappingURL=register_style.css.map */