body {
  background: #d5d5d5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.isHidden {
  display: none;
  /* hide radio buttons */
}

hr {
  text-align: center;
  width: 80%;
  background: rgb(204, 204, 204) none repeat scroll 0% 0%;
  border: 0px none;
  height: 1px;
}

table {
  width: 100%;
}

thead tr th {
  text-align: left;
  border-bottom: 1px solid rgb(237, 235, 233);
  border-collapse: separate;
  border-spacing: 5px 5px;
}

th.del {
  width: 8%;
  min-width: 28px;
  text-align: center;
}

th.number {
  width: 25%;
}

td:nth-last-child {
  text-align: center;
}

th.sex-head {
  width: 10%;
}

th.age-head {
  width: 8%;
}

th.tel-head {
  width: 20%;
}

input[type="text"],
input[type="number"],
select,
.select-selected {
  font-family: 'Kanit', sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0 8px;
  /* box-sizing:border-box; */
  border-radius: 4px;
  border: 0;
  color: rgb(50, 49, 48);
  width: calc(100% - 20px);
  min-width: 30px;
  text-overflow: ellipsis;
  outline: #8a8886 solid 1px;
  background: transparent;
  height: 3em;
  /* box-shadow: 0 0 1px 1px #e3e3e3; */
}

select {
  margin-right: 1px;
  width: calc(100% - 2px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: right;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
.select-selected:focus {
  outline: #0078d4 solid 2px;
}

/* select:focus {
  margin-right: 0px;
  width: 100%;
} */

input::placeholder {
  color: #605e5c;
  opacity: 1;
}


input[type="reset"],
input[type="button"],
input[type="submit"],
button[type="submit"] {
  outline: transparent none medium;
  position: relative;
  font-family: 'Kanit', sans-serif;
  font-size: medium;
  box-sizing: border-box;
  border: 1px solid #8a8886;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 16px;
  border-radius: 4px;
  min-width: 80px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  user-select: none;
}

input[type="reset"]:hover {
  background-color: rgb(243, 242, 241);
  color: rgb(32, 31, 30);
}

input[type="reset"]:active {
  background-color: rgb(237, 235, 233);
  color: rgb(32, 31, 30);
}

input[type="submit"],
button[type="submit"] {
  border: 1px solid #0078d4;
  background-color: #0078d4;
  color: rgb(255, 255, 255);
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #106ebe;
  border: 1px solid #106ebe;
  color: rgb(255, 255, 255);
}

input[type="submit"]:active,
button[type="submit"]:active {
  background-color: #005a9e;
  border: 1px solid #005a9e;
  color: rgb(255, 255, 255);
}


input[type="submit"]:focus,
button[type="submit"]:focus {
  /* box-shadow: 0 0 1px 0 #0078d4; */
  outline: 1px solid #FFF;
  outline-offset: -4px;
  /* box-shadow:inset 0px 0px 0px 2px #fff; */
}

input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 1px solid #0078d4;
  outline-offset: -4px;
}


.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 20%;
  height: 25px;
  width: 25px;
  border: 1px solid #8a8886;
  /* outline: #8a8886 solid 1px ; */
  border-radius: 4px;
  transition-property: background, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox input:focus~.checkmark {
  border: 1px solid #0078d4;
  /* box-shadow: 0 0 1px 0 #0078d4; */
  outline: #0078d4 solid 1px;
}

.checkbox input:checked~.checkmark {
  background-color: #0078d4;
  border: 1px solid #0078d4;
}

.checkbox input:focus:checked~.checkmark {
  background-color: #0078d4;
  border: 1px solid #0078d4;
}

.checkbox:hover input:checked~.checkmark {
  background-color: #005a9e;
  border: 1px solid #005a9e;
}

.checkbox:hover input:focus:checked~.checkmark {
  background-color: #005a9e;
  border: 1px solid #005a9e;
  outline: #005a9e solid 1px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox:hover input~.checkmark:after {
  display: block;
  border: solid rgb(96, 94, 92);
  border-width: 0 2px 2px 0;
}


.checkbox:hover input:checked~.checkmark:after {
  display: block;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Customize the label (the container) */
.radio {
  display: inline-block;
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  background: #f3f2f1;
  min-width: 100px;
  /* min-height: 100px; */
  text-align: center;
}

.typeselec:checked+.radio {
  background: #f3f2f1;
  outline: 1px solid #0078d4;
}

.typeselec:focus+.radio {
  outline: 2px solid #0078d4;
}

.typeselec:hover+.radio {
  outline: 1px solid #005a9e;
}

.typeselec:hover:focus+.radio {
  outline: 2px solid #005a9e;
}

/* Create a custom radio button */
.radio .radiocheckmark {
  position: absolute;
  top: 10px;
  left: 8px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
}

/* Style the indicator (dot/circle) */
.radio .radiocheckmark::before {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  content: "";
  position: absolute;
  display: block;
}

.typeselec:checked+.radio .radiocheckmark {
  outline: 1px solid #0078d4;
}

.typeselec:focus+.radio .radiocheckmark,
.typeselec:hover+.radio .radiocheckmark {
  outline: 1px solid #005a9e;
}

.typeselec:checked+.radio .radiocheckmark::before,
.typeselec:focus+.radio .radiocheckmark::before {
  background: #0078d4;
}

.typeselec:checked:hover+.radio .radiocheckmark::before {
  background: #005a9e;
}

.typeselec+.radio i {
  font-size: 50px;
}

.typeselec:checked+.radio i,
.typeselec:focus+.radio i {
  color: #0078d4;
}

.typeselec:checked+.radio i {
  color: #005a9e;
}

.typeselec+.radio span:last-child{
  display: block;
}

.add-row,
.del-row {
  font-family: 'Kanit', sans-serif;
  font-size: medium;
  padding: 15px 0px;
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.add-row:hover {
  background: rgb(243, 242, 241);
}

.add-row:active {
  background: rgb(237, 235, 233);
}

.add-row:disabled {
  color: #a19f9d;
  background: #f3f2f1;
  cursor: default;
}

.add-row:disabled i {
  color: #a19f9d;
}

.add-row i {
  color: #0078d4;
}


.add-rowspan {
  font-size: medium;
}

.del-row {
  text-align: center;
  padding: 15px 0px;
  cursor: pointer;
  color: #d83b01;
}

.del-row:hover {
  color: white;
  background: #d83b01;
  cursor: pointer;
}

.del-row:active {
  color: white;
  background: #a80000;
  cursor: pointer;
}


/* ----------- dropdown ----------- */
.custom-select {
  position: relative;
  font-family: 'Kanit', sans-serif;
}

.select-selected {
  cursor: pointer;
  display: block;
  display: flex;
  align-items: center;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 14px;
  width: 10px;
  height: 10px;
  border: 0px solid rgb(96, 94, 92);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 18px;
  border-width: 2px 0 0 2px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fafafa;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;

  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px; */
  box-shadow: 0 0 17.9px rgba(0, 0, 0, .066), 0 0 33.4px rgba(0, 0, 0, .079), 0 100px 80px rgba(0, 0, 0, .11);
  outline: transparent none medium;
  width: 100%;
  transition: top cubic-bezier(0.1, 0.9, 0.2, 1) 200ms;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-hide2 {
  top: 100%;
}

.select-items botton {
  padding: 10px 20px;
  cursor: pointer;
}

.select-items botton:hover,
.same-as-selected {
  background-color: rgb(243, 242, 241);
}

.same-as-selected::before {
  content: "";
  position: absolute;
  left: 0.4rem;
  height: 1.5rem;
  width: 0.2rem;
  background: #0078d4;
  display: block;
  border-radius: 2px;
}

.select-items botton:active {
  background-color: rgb(237, 235, 233);
}

.select-items botton:first-child {
  border-radius: 8px 8px 0 0;
}

.select-items botton:last-child {
  border-radius: 0 0 8px 8px;
}

.course-content {
  margin: 0 auto 25px;
  width: 790px;
  background: #f4f3f3;
  border-radius: 8px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
  z-index: 0;
  position: relative;
  top: 5vh;
}

.content-record-head {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 0 -1px;
  position: relative;
  padding-top: 20px;
}

.botton_usetype {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border-color: #cccccc #cccccc currentcolor;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  border-radius: 4px 4px 0 0;
  padding: 3px 12px;
  margin-left: -1px;
  background: #faf9f8;
}

.typeselec {
  opacity: 0;
  height: 0;
  width: 0;
  margin: -2px;
  padding: 0;
  border: 0;
}

.typeselec:checked+.botton_usetype {
  /* background: white; */
  z-index: 2;
  background: white;
}

.typeselec:focus+.botton_usetype {
  border-color: #0078d4 #0078d4 currentcolor;
  outline: 1px solid #0078d4;
}

.section_area {
  position: relative;
  z-index: 1;
  background: white;
  padding: 20px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px 0 0 0;
  border-radius: 0 0 8px 8px;
  /* background-image: url(ii.webp); */
  background-position: right;
  animation-name: MOVE-BG;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes MOVE-BG {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

#subbox {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px 0;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px 0;
}

@keyframes alert-card {
  from {
    background-color: #a80000;
  }

  to {
    background-color: #ff8080;
  }
}

#content-alert {
  color: white;
  display: none;
  background: #a80000;
  padding: 8px;
  font-size: small;
  animation: alert-card 250ms linear 4 alternate;
}

.gty-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2em 0;
}

#daysch{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media(max-width: 767px) {
  .course-content {
    width: 95%;
    min-width: 340px;
  }
}